@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: background 0.3s ease-in, color 0.1s ease-out;
}

.dark-theme {
  position: relative;
  background: url('at.jpg') center/cover no-repeat;
  height: 100vh; /* Adjust the height as needed */
  color: #4c0303;
  filter: brightness(60%) contrast(100%); /* Adjust the values to control brightness and contrast */
}

.dark-theme h2 {
  position: absolute;
  top: 05%; /* Adjust the top value to move the text higher */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #062f6e;
  font-size: 36px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

/* main section  */
section #main {
  position: relative;
  background: var(--bg);
  color: var(--color);
  background-image: var(--img);
  min-height: 100vh;
  width: 100vw;
  border-top-left-radius: 30px;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.active {
  top: 60px !important;
  left: 200px !important;
}

#main nav {
  display: flex;
  padding: 25px;
}
#main .toggler {
  font-size: 24px;
  cursor: pointer;
}
#main nav h2 {
  font-weight: 900;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 2px solid var(--color);
}
#main nav #time {
  position: absolute;
  right: 3vw;
  top: 32px;
  font-size: 20px;
}
#main nav #time sub {
  font-size: 10px;
  position: absolute;
  bottom: 5px;
}

#main main .input {
  position: absolute;
  right: 0px;
  margin: 10px 20px;
}
#main .inputValue {
  position: relative;
  width: 200px;
  padding: 8px;
  margin: 0px;
  background-color: rgb(255, 255, 255);
  border: 0;
  border-radius: 5px;
}
#main input:valid {
  border: 0;
  outline: 0;
}
#main main .button {
  /* position: absolute; */
  outline: none;
  background: black;
  color: white;
  margin: 5px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}
#main #forecast {
  margin-top: 80px;
}
#main #forecast h1 {
  position: absolute;
  margin-top: -15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 56;
  font-weight: 900;
}
#main #forecast img {
  height: 40px;
  vertical-align: middle;
  margin-top: -10px;
}
#main #forecast sup i {
  margin-right: 6px;
  margin-top: -10px;
  font-size: 13px;
}
#main #forecast sub {
  font-weight: 500;
  font-size: 15px;
  margin-top: 10px;
}
table {
  border-collapse: separate;
  border-spacing: 0 2em;
  margin-top: 20px;
}
table tr td,
table tr th {
  color: var(--color);
}
@media (max-width: 768px) {
  #main .inputValue {
    width: 150px;
    padding: 5px;
    margin: 0px;
  }
  #main main .button {
    padding: 6.5px;
    font-size: 20px;
    margin: 0;
  }
  #main nav #time {
    right: 4vw;
  }
}

@media (max-width: 800px) {
  .active {
    left: 160px !important;
  }
  #main nav #time {
    right: 8vw;
  }
}
@media (max-width: 600px) {
  #main nav #time {
    font-size: 20px;
    right: 6.3vw;
  }
  #main nav #time sub {
    font-size: 9px;
    margin-left: 2px;
  }
}
@media (max-width: 400px) {
  #main nav #time {
    font-size: 18px;
    right: 5.9vw;
  }
}
